[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyjwt = "*"
gunicorn = "*"
pycodestyle = "*"
autopep8 = "*"
mysqlclient = "*"
djangorestframework-simplejwt = "*"
ecdsa = "*"
pika = "*"
sentry-sdk = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.8"
